In [391]:
import pandas as pd
df_test=pd.read_csv("car_price_test.csv")
df_train=pd.read_csv("car_price_train.csv")

In [392]:
df_train.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,Bajaj Pulsar 150,2008.0,0.25,NaN,NaN,Petrol,NaN,Manual,1.0
1,Bajaj Avenger 220,2017.0,0.75,0.950,3500,Petrol,Individual,Manual,0.0
2,Hero CBZ Xtreme,2008.0,0.20,0.787,NaN,Petrol,Individual,Manual,0.0
3,etios g,2015.0,3.95,6.800,36000,Petrol,Dealer,Manual,0.0
4,Royal Enfield Thunder 350,2016.0,1.15,1.500,8700,Petrol,Individual,Manual,0.0

In [393]:
df_train[100:110]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
100,camry,2006.00,2.50,23.73,142000,Petrol,Individual,Automatic,3.0
101,verna,2012.00,4.50,9.40,36100,Petrol,Dealer,Manual,0.0
102,Honda Activa 4G,2017.00,0.45,0.51,4000,Petrol,Individual,Automatic,0.0
103,ciaz,2015.00,7.50,9.94,15000,Petrol,Dealer,Automatic,0.0
104,NaN,2.95,7.74,49998.00,CNG,Dealer,Manual,0,NaN
105,alto k10,2010.00,1.95,3.95,44542,Petrol,Dealer,Manual,0.0
106,Yamaha FZ v 2.0,2015.00,0.60,0.84,29000,Petrol,Individual,Manual,0.0
107,Hero Ignitor Disc,2013.00,0.20,0.65,24000,Petrol,Individual,Manual,1.0
108,Yamaha FZ 16,2015.00,0.75,0.82,18000,Petrol,Individual,Manual,0.0
109,Bajaj Pulsar 135 LS,2014.00,0.40,0.64,13700,Petrol,Individual,Manual,0.0

In [394]:
df_train=df_train.drop([104],axis=0)

In [395]:
feature_columns=['Car_Name','Fuel_Type','Seller_Type','Transmission','Year','Present_Price','Kms_Driven','Owner']
label_columns="Selling_Price"

X_train=df_train.loc[:,feature_columns]
y_train=df_train.loc[:,label_columns]
X_test=df_test.loc[:,feature_columns]
y_test=df_test.loc[:,label_columns]

# Xử lý missing

In [396]:
from sklearn.impute import SimpleImputer
import numpy as np

In [397]:
# X_train
X_train.isnull().sum()

Car_Name         4
Fuel_Type        3
Seller_Type      3
Transmission     1
Year             0
Present_Price    3
Kms_Driven       8
Owner            0
dtype: int64

In [398]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 0 to 239
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       235 non-null    object
 1   Fuel_Type      236 non-null    object
 2   Seller_Type    236 non-null    object
 3   Transmission   238 non-null    object
 4   Year           239 non-null    float64
 5   Present_Price  236 non-null    float64
 6   Kms_Driven     231 non-null    object
 7   Owner          239 non-null    float64
dtypes: float64(3), object(5)
memory usage: 16.8+ KB

In [399]:
# errors='coerce'
X_train['Kms_Driven']= pd.to_numeric(X_train['Kms_Driven'])

In [400]:
X_train=X_train.values
name_imputer=SimpleImputer(np.nan,strategy="most_frequent")
X_train[:,0:4]=name_imputer.fit_transform(X_train[:,0:4])

In [401]:
continous_value_imputer1=SimpleImputer(np.nan,strategy="mean")
X_train[:,4:]=continous_value_imputer1.fit_transform(X_train[:,4:])

In [402]:
new_df=pd.DataFrame.from_records(X_train,columns=feature_columns)
new_df.isnull().sum()

Car_Name         0
Fuel_Type        0
Seller_Type      0
Transmission     0
Year             0
Present_Price    0
Kms_Driven       0
Owner            0
dtype: int64

In [403]:
# X_test
X_test.isnull().sum()

Car_Name         0
Fuel_Type        0
Seller_Type      0
Transmission     0
Year             0
Present_Price    0
Kms_Driven       0
Owner            0
dtype: int64

In [404]:
# y_train
y_train.isnull().sum()

0

In [405]:
# y_test
y_test.isnull().sum()

0

In [406]:
X_test=X_test.values
y_train=y_train.values
y_test=y_test.values

In [407]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
X_train[:,0]=encoder.fit_transform(X_train[:,0])
X_train[:,1]=encoder.fit_transform(X_train[:,1])
X_train[:,2]=encoder.fit_transform(X_train[:,2])
X_train[:,3]=encoder.fit_transform(X_train[:,3])
X_test[:,0]=encoder.fit_transform(X_test[:,0])
X_test[:,1]=encoder.fit_transform(X_test[:,1])
X_test[:,2]=encoder.fit_transform(X_test[:,2])
X_test[:,3]=encoder.fit_transform(X_test[:,3])

In [408]:
from sklearn.linear_model import LinearRegression

linear=LinearRegression()
linear.fit(X_train,y_train)
linear.coef_

array([-2.66028500e-04, -1.51982619e+00, -1.18902890e+00, -1.63354993e+00,
        3.64499768e-01,  4.37854851e-01, -5.60719187e-06, -1.13573761e+00])

In [409]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [410]:
predict_test=linear.predict(X_test)
predict_train=linear.predict(X_train)
print("Mean squared error: {}".format(mean_squared_error(y_test,predict_test)))

Mean squared error: 6.7669696005506035

In [411]:
print("Root Mean squared error on test: {}".format(np.sqrt(mean_squared_error(y_test,predict_test))))
print("Root Mean squared error on train: {}".format(np.sqrt(mean_squared_error(y_train,predict_train))))

Root Mean squared error on test: 2.6013399625098224
Root Mean squared error on train: 1.7337875612640736

In [412]:
from sklearn.linear_model import Ridge

In [413]:
ridge= Ridge(alpha=100)
ridge.fit(X_train, y_train)

Ridge(alpha=100, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [414]:
predict_test=ridge.predict(X_test)
predict_train=ridge.predict(X_train)

print("Root Mean squared error on test: {}".format(np.sqrt(mean_squared_error(y_test,predict_test))))
print("Root Mean squared error on train: {}".format(np.sqrt(mean_squared_error(y_train,predict_train))))

Root Mean squared error on test: 1.9557281923908647
Root Mean squared error on train: 1.862316647820868