In [59]:
import pandas as pd
df_test=pd.read_csv("real_estate_test.csv")
df_train=pd.read_csv("real_estate_train.csv")
df_test.head(5)

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2013.333,25.6,4519.6900,0,24.94826,121.49587,15.6
1,2013.167,39.8,617.7134,2,24.97577,121.53475,39.6
2,2012.750,7.8,104.8101,5,24.96674,121.54067,38.4
3,2012.917,30.0,1013.3410,5,24.99006,121.53460,22.8
4,2013.583,27.3,337.6016,6,24.96431,121.54063,36.5

In [60]:
df_train.head(5)

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.917,32.0,84.87882,NaN,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9.0,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5.0,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5.0,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5.0,24.97937,121.54245,43.1

In [61]:
feature_columns=['X1 transaction date','X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','X5 latitude','X5 latitude']
label_columns="Y house price of unit area"

X_train=df_train.loc[:,feature_columns]
y_train=df_train.loc[:,label_columns]
X_test=df_test.loc[:,feature_columns]
y_test=df_test.loc[:,label_columns]

# Xử lý missing value

In [62]:
from sklearn.impute import SimpleImputer
import numpy as np

In [63]:
# X_train
X_train.isnull().sum()

X1 transaction date                       1
X2 house age                              3
X3 distance to the nearest MRT station    0
X4 number of convenience stores           4
X5 latitude                               2
X5 latitude                               2
dtype: int64

In [64]:
X_train=X_train.values
continous_value_imputer1=SimpleImputer(np.nan,strategy="mean")
X_train[:,0:2]=continous_value_imputer1.fit_transform(X_train[:,0:2])
continous_value_imputer2=SimpleImputer(np.nan,strategy="mean")
X_train[:,3:6]=continous_value_imputer2.fit_transform(X_train[:,3:6])

In [65]:
new_df=pd.DataFrame.from_records(X_train,columns=feature_columns)
new_df.isnull().sum()

X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X5 latitude                               0
dtype: int64

In [66]:
# X_test
X_test.isnull().sum()

X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X5 latitude                               0
dtype: int64

In [67]:
# y_train
y_train.isnull().sum()

2

In [68]:
y_train=y_train.values
y_train[:]

array([ 37.9,  42.2,  47.3,  54.8,  43.1,  32.1,  40.3,  46.7,  18.8,
        22.1,  41.4,  58.1,  39.3,  23.8,  34.3,  50.5,  70.1,  37.4,
        42.3,  47.7,  29.3,  51.6,  24.6,  47.9,  38.8,  27. ,  56.2,
        33.6,  47. ,  57.1,  22.1,  25. ,  34.2,  49.3,  55.1,  27.3,
        22.9,  25.3,  47.7,  46.2,  15.9,  18.2,  34.7,  34.1,   nan,
        38.3,  42. ,  61.5,  13.4,  13.2,  44.2,  20.7,  27. ,  38.9,
        51.7,  13.7,  41.9,  53.5,  22.6,  42.4,  21.3,  63.2,  27.7,
        55. ,  25.3,  44.3,  50.7,  56.8,  36.2,  42. ,  59. ,  40.8,
        36.3,  20. ,  54.4,  29.5,  36.8,  25.6,  29.8,  26.5,  40.3,
        36.8,  48.1,  17.7,  43.7,  50.8,  27. ,  18.3,  48. ,  25.3,
        45.4,  43.2,  21.8,  16.1,  41. ,  51.8,  59.5,  34.6,  51. ,
        62.2,  38.2,  32.9,  54.4,  45.7,  30.5,  71. ,  47.1,  26.6,
        34.1,  28.4,  51.6,  39.4,  23.1,   7.6,  53.3,  46.4,  12.2,
        13. ,  30.6,  59.6,  31.3,  48. ,  32.5,  45.5,  57.4,  48.6,
        62.9,  55. ,  60.7,  41. ,  37.5,  30.7,  37.5,  39.5,  42.2,
        20.8,  46.8,  47.4,  43.5,  42.5,  51.4,  28.9,  37.5,  40.1,
        28.4,  45.5,  52.2,  43.2,  45.1,  39.7,  48.5,  44.7,  28.9,
        40.9,  20.7,  15.6,  18.3,  35.6,  39.4,  37.4,  57.8,  39.6,
        11.6,  55.5,  55.2,  30.6,  73.6,  43.4,  37.4,  23.5,  14.4,
        58.8,  58.1,  35.1,  45.2,  36.5,  19.2,  42. ,  36.7,  42.6,
        15.5,  55.9,  23.6,  18.8,   nan,  21.5,  25.7,  22. ,  44.3,
        20.5,  42.3,  37.8,  42.7,  49.3,  29.3,  34.6,  36.6,  48.2,
        39.1,  31.6,  25.5,  45.9,  31.5,  46.1,  26.6,  21.4,  44. ,
        34.2,  26.2,  40.9,  52.2,  43.5,  31.1,  58. ,  20.9,  48.1,
        39.7,  40.8,  43.8,  40.2,  78.3,  38.5,  48.5,  42.3,  46. ,
        49. ,  12.8,  40.2,  46.6,  19. ,  33.4,  14.7,  17.4,  32.4,
        23.9,  39.3,  61.9,  39. ,  40.6,  29.7,  28.8,  41.4,  33.4,
        48.2,  21.7,  40.8,  40.6,  23.1,  22.3,  15. ,  30. ,  13.8,
        52.7,  25.9,  51.8,  17.4,  26.5,  43.9,  63.3,  28.8,  30.7,
        24.4,  53. ,  31.7,  40.6,  38.1,  23.7,  41.1,  40.1,  23. ,
       117.5,  26.5,  40.5,  29.3,  41. ,  49.7,  34. ,  27.7,  44. ,
        31.1,  45.4,  44.8,  25.6,  23.5,  34.4,  55.3,  56.3,  32.9,
        51. ,  44.5,  37. ,  54.4,  24.5,  42.5,  38.1,  21.8,  34.1,
        28.5,  16.7,  46.1,  36.9,  35.7,  23.2,  38.4,  29.4,  55. ,
        50.2,  24.7,  53. ,  19.1,  24.7,  42.2,  78. ,  42.8,  41.6,
        27.3,  42. ,  37.5,  49.8,  26.9,  18.6,  37.7,  33.1,  42.5,
        31.3,  38.1,  62.1,  36.7,  23.6,  19.2,  12.8])

In [69]:
#y_train=y_train.values
continous_value_imputer3=SimpleImputer(np.nan,strategy="mean")
y_train[:]=continous_value_imputer3.fit_transform(y_train[:].reshape(-1,1)).ravel()

In [70]:
X_test=X_test.values
y_test=y_test.values

# LinearRegression

In [71]:
from sklearn.linear_model import LinearRegression

linear=LinearRegression()
linear.fit(X_train,y_train)
linear.coef_

array([ 5.40508466e+00, -2.60730682e-01, -5.27994830e-03,  1.37107375e+00,
        5.22508328e-04,  5.22508328e-04])

# Test

In [72]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [73]:
predict_test=linear.predict(X_test)
predict_train=linear.predict(X_train)
print("Mean squared error: {}".format(mean_squared_error(y_test,predict_test)))

Mean squared error: 59.56707152249183

In [74]:
print("Root Mean squared error on test: {}".format(np.sqrt(mean_squared_error(y_test,predict_test))))
print("Root Mean squared error on train: {}".format(np.sqrt(mean_squared_error(y_train,predict_train))))

Root Mean squared error on test: 7.717970686812164
Root Mean squared error on train: 9.417481466279852

#L2

In [75]:
from sklearn.linear_model import Ridge

In [76]:
ridge= Ridge(alpha=10)
ridge.fit(X_train, y_train)

Ridge(alpha=10, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [77]:
predict_test=ridge.predict(X_test)
predict_train=ridge.predict(X_train)

print("Root Mean squared error on test: {}".format(np.sqrt(mean_squared_error(y_test,predict_test))))
print("Root Mean squared error on train: {}".format(np.sqrt(mean_squared_error(y_train,predict_train))))

Root Mean squared error on test: 7.726733395705883
Root Mean squared error on train: 9.426931287662503