In [25]:
import pandas as pd
df_test=pd.read_csv("car_price_test.csv")
df_train=pd.read_csv("car_price_train.csv")
df_test.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,Honda Activa 125,2016,0.35,0.57,24000,Petrol,Individual,Automatic,0
1,city,2016,10.11,13.60,10980,Petrol,Dealer,Manual,0
2,verna,2012,4.95,9.40,60000,Diesel,Dealer,Manual,0
3,Bajaj Discover 125,2011,0.15,0.57,35000,Petrol,Individual,Manual,1
4,corolla altis,2013,6.95,18.61,40001,Petrol,Dealer,Manual,0

In [26]:
df_train.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,Bajaj Pulsar 150,2008.0,0.25,NaN,NaN,Petrol,NaN,Manual,1.0
1,Bajaj Avenger 220,2017.0,0.75,0.950,3500,Petrol,Individual,Manual,0.0
2,Hero CBZ Xtreme,2008.0,0.20,0.787,NaN,Petrol,Individual,Manual,0.0
3,etios g,2015.0,3.95,6.800,36000,Petrol,Dealer,Manual,0.0
4,Royal Enfield Thunder 350,2016.0,1.15,1.500,8700,Petrol,Individual,Manual,0.0

In [27]:
feature_columns=['Car_Name','Year','Present_Price','Kms_Driven','Owner','Fuel_Type','Seller_Type','Transmission']
label_columns="Selling_Price"

X_train=df_train.loc[:,feature_columns]
y_train=df_train.loc[:,label_columns]
X_test=df_test.loc[:,feature_columns]
y_test=df_test.loc[:,label_columns]

# Xử lý missing

In [28]:
from sklearn.impute import SimpleImputer
import numpy as np

In [29]:
# X_train
X_train.isnull().sum()

Car_Name         5
Year             0
Present_Price    3
Kms_Driven       8
Fuel_Type        3
Seller_Type      3
Transmission     1
Owner            1
dtype: int64

In [30]:
X_train=X_train.values
name_imputer=SimpleImputer(np.nan,strategy="most_frequent")
X_train[:,0]=name_imputer.fit_transform(X_train[:,0].reshape(-1,1)).ravel()

In [32]:
continous_value_imputer1=SimpleImputer(np.nan,strategy="mean")
X_train[:,2:]=continous_value_imputer1.fit_transform(X_train[:,2:])

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'CNG'